/* Content block customizations */

/* Built using the Colors.html page, with the defaults set there,
   except for the overrides stated above the blocks below. */

/* hue 0, saturation 0 */
.grey {
  --contentColor: #e6e6e6;
  --headerColor: #3c3c3c;
  --tableOddColor: #d2d2d2;
  --tableEvenColor: #bebebe;
}

/* hue 0 */
.red {
  --contentColor: #ffcdcd;
  --headerColor: #5b1d1d;
  --tableOddColor: #eeb6b6;
  --tableEvenColor: #e79595;
}

/* hue 37, luminance 200 */
.yellow {
  --contentColor: #fff9cd;
  --headerColor: #6b5f0d;
  --tableOddColor: #eee7b6;
  --tableEvenColor: #e7dc95;
}

/* hue 55 */
.olive {
  --contentColor: #f1ffcd;
  --headerColor: #495b1d;
  --tableOddColor: #dfeeb6;
  --tableEvenColor: #d1e795;
}

/* hue 110 */
.turquoise {
  --contentColor: #cdffea;
  --headerColor: #1d5b41;
  --tableOddColor: #b6eed7;
  --tableEvenColor: #95e7c5;
}

/* hue 155 */
.azure {
  --contentColor: #cddfff;
  --headerColor: #1d335b;
  --tableOddColor: #b6caee;
  --tableEvenColor: #95b2e7;
}

/* hue 180 */
.violet {
  --contentColor: #d9cdff;
  --headerColor: #2c1d5b;
  --tableOddColor: #c3b6ee;
  --tableEvenColor: #a895e7;
}

/* hue 225 */
.fuchsia {
  --contentColor: #f0cdf0;
  --headerColor: #5b1d49;
  --tableOddColor: #eeb6de;
  --tableEvenColor: #e795cf;
}


/* Page */
body {
  color: #000000;
  background-color: #ffffff;
  margin: 0px;
  padding: 0px;
  min-height: 100vh;
  font-family: Arial, Helvetica, sans-serif;
}


/* Content blocks */
.content {
  background-color: var(--contentColor);
  border-radius: 15px;
  margin: 2em 1em 1em 1em;
  padding: 0.7em;
  box-shadow: 0.05em 0.15em 0.2em #00000040;
}
.firstContent {
  margin-top: 1em !important;
}
.content h1 {
  color: #ffffff;
  background-color: var(--headerColor);
  font-size: 1.2em;
  text-align: center;
  border-radius: 15px;
  box-shadow: 0.1em 0.3em 0.2em #00000040;
  padding: 0.6em;
  margin: 0em 0em 1.5em 0em;
}
.content h1::before {
  content: '\025bd';
  margin-right: 0.6em;
  font-style: normal;
  font-weight: normal;
}
.content h1::after {
  content: '\025bd';
  margin-left: 0.6em;
  font-style: normal;
  font-weight: normal;
}
.content :last-child {
  margin-bottom: 0.4em;
}


/* Banner */
#banner {
  color: #ffffff;
  background-color: var(--headerColor);
  text-align: center;
  border-radius: 15px;
  box-shadow: 0.1em 0.3em 0.2em #00000040;
  padding: 0.6em;
  margin: 0em 0em 1.5em 0em;
}
#banner .letter {
  display: inline-block;
  font-style: oblique;
  font-weight: bold;
  font-size: 10px;
}
#banner .subtitle {
  font-style: oblique;
  font-weight: bold;
}
#banner .subtitle::before {
  content: '\025b7';
  margin-right: 0.7em;
  font-style: normal;
  font-weight: normal;
}
#banner .subtitle::after {
  content: '\025c1';
  margin-left: 0.7em;
  font-style: normal;
  font-weight: normal;
}
#banner a {
  border-style: none;
  text-decoration: none;
  color: #ffffff;
}
#banner a:link {
  color: #ffffff;
}
#banner a:hover {
  color: #ffffff;
}
#banner a:visited {
  color: #ffffff;
}



/* Tables */
table {
  border-collapse: collapse;
  border-style: none;
}
th {
  text-align: left;
  font-size: 0.9em;
}
th, td {
  padding: 0.2em 0.4em;
  vertical-align: top;
}
tr.spaceAfter td {
  padding-bottom: 0.4em;
}
tr.noSpaceBefore > td {
  padding-top: 0px;
}
td.noSpaceLeft {
  padding-left: 0px;
}
td.noSpaceRight {
  padding-right: 0px;
}
.table th {
  color: #ffffff;
}
.table > thead > tr,
.table > tbody > tr {
  border: 1px solid #000000;
}
.table.groupedRows > thead > tr,
.table.groupedRows > tbody > tr {
  border-style: none;
}
.table.groupedRows > thead {
  border: 2px solid #000000;
  border-bottom-width: 1px;
}
.table.groupedRows > tbody {
  border: 2px solid #000000;
  border-width: 1px 2px;
}
.table.groupedRows > tbody:last-child {
  border-bottom-width: 2px;
}
.table > thead > tr {
  background-color: var(--headerColor);
  border-width: 2px 2px 1px 2px;
}
.table > tbody > tr {
  border-width: 1px 2px 1px 2px;
}
.table > tbody > tr:nth-child(odd) {
  background-color: var(--tableOddColor);
}
.table > tbody > tr:nth-child(even) {
  background-color: var(--tableEvenColor);
}
.table.groupedRows > tbody > tr {
  background-color: transparent;
}
.table.groupedRows > tbody:nth-child(odd) {
  background-color: var(--tableOddColor);
}
.table.groupedRows > tbody:nth-child(even) {
  background-color: var(--tableEvenColor);
}
.table > tbody.group > tr.forcedHeader {
  border-top-width: 2px;
  background-color: var(--headerColor);
}
.table > tbody > tr:last-child {
  border-bottom-width: 2px;
}
.table > tbody.group > tr.forcedSkip {
  background-color: #00000000 !important;
  border-style: none;
  font-weight: bold;
}
.table > tbody.group > tr.forcedSkip td {
  padding-top: 1em;
}


/* Notes */
#notes p:first-of-type {
  /* This way the dynamic animation of the #notes element won't have
     a jump due to the first p element adding to the spacing above it. */
  margin-top: 0px;
}


/* Recipe table node tree */
#recipe .item > td {
  padding: 0px !important;
}
#recipe .item .sizer {
  padding: 0.2em 0.4em;
}
.treeClick {
  cursor: pointer;
}
.treeTop {
  box-shadow: inset 0px 2px var(--headerColor), inset 0px 3px #00000080, inset 0px 4px #00000040;
}
.treeLeft {
  box-shadow: inset 3px 0px var(--headerColor), inset 4px 0px #00000080, inset 5px 0px #00000040;
}
.treeTop.treeLeft {
  box-shadow: inset 3px 2px var(--headerColor), inset 4px 3px #00000080, inset 5px 4px #00000040;
}
.treeNode .sizer {
  width: 1em;
  /* For best alignment with text in next column. */
  padding: 0px 0px 0px 0.6em !important;
}


/* Lists */
dl,
dt,
dd,
ul {
  padding: 0px;
  margin: 0px;
}

dl,
dd,
ul {
  padding-left: 1em;
}

dt {
  margin-top: 0.4em;
  font-weight: bold;
}


/* Templates */
.template {
  display: none !important;
}


/* Form elements */
input[type=number] {
  width: 3em;
}
#bookmark {
  display: none;
}
.itemEnchantCell {
  vertical-align: top;
}
.itemEnchantCell > div {
  display: inline-block;
  margin-right: 0.3em;
}
.itemInput {
  width: calc(100% - 32px);
}
.buttonStrip {
  white-space: nowrap;
  margin-top: -2px;
}
.buttonStrip .buttonBox {
  text-align: center;
  padding: 0px;
  margin: 0px;
}
.buttonStrip .buttonBox.onlyButton {
  border-radius: 7px;
}
.buttonStrip .buttonBox.firstButton {
  border-radius: 7px 0px 0px 7px;
}
.buttonStrip .buttonBox.middleButton {
  border-radius: 0px;
}
.buttonStrip .buttonBox.lastButton {
  border-radius: 0px 7px 7px 0px;
}
.buttonStrip .buttonBox div {
  width: 1.2em;
  padding: 1px 2px;
  margin: auto;
  text-align: center;
}
.buttonStrip .buttonBox.selectedButton {
  -webkit-filter: brightness(75%);
  filter: brightness(75%);
}
.buttonStrip .buttonBox.selectedButton div {
  border-width: 2px 0px;
  border-style: solid;
  border-color: transparent;
}
.itemDisplay {
  font-weight: bold;
}
.conflictEnchants {
  margin: 4px 6px;
  display: inline-block;
}
.enchantDisplay {
  font-size: 0.9em;
}
#contactForm {
  text-align: right;
}
#contactForm textarea {
  /* Just 100% makes it no align properly in FireFox; its 100% excl borders,
  which FireFox adds to textareas... A few extra px in the left margin doesn't
  really matter. */
  width: calc(100% - 5px);
  height: 10em;
}


/* Icons */
.icon {
  position: relative;
  display: inline-block;
  width: 24px;
  height: 24px;
  overflow: hidden;
}
.icon .type {
  width: 24px;
  height: 24px;
  object-fit: none;
  object-position: calc(-24px * var(--iconIndex, 0)) 0px;
  position: absolute;
  top: 0px;
  left: 0px;
}
.icon .glint {
  display: inline-block;
  width: 24px;
  height: 24px;
  mix-blend-mode: lighten;
  position: absolute;
  top: 0px;
  left: 0px;
  background-image: url(../images/glint.webp);
  -webkit-mask-image: url(../images/icons.png);
  mask-image: url(../images/icons.png);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-position: calc(-24px * var(--iconIndex, 0)) 0px;
  mask-position: calc(-24px * var(--iconIndex, 0)) 0px;
}
.iconTextWrapping * {
  vertical-align: top;
}
.iconTextWrapping .iconText {
  margin-right: 0.4em;
  white-space: normal;
}


/* Links */
a {
  font-weight: bold;
  text-decoration: none;
  border-bottom: 1px solid #000000;
  border-radius: 4px;
}
a,
a:link {
  color: #535c02;
}
a:hover {
  color: #879704;
}
a:visited {
  color: #02245c;
}


/* Errors */
.error {
  margin: 0px;
  padding: 0.2em 0.4em;
  font-weight: bold;
  border: 1px solid #300000;
  border-radius: 0em 0.5em 0.5em 0.5em;
  color: #ffffff;
  background-color: #802020;
}


/* Dialogs */
.dialog {
  background-color: #00000050;
  position: fixed;
  left: 0px;
  right: 0px;
  top: 0px;
  bottom: 0px;
  width: 100%;
  height: 100%;
  margin: auto;
  display: none; /* to be changed by flex on demand */
  align-items: center;
  justify-content: center;
  z-index: 1;
  overflow: auto;
}
.dialogBody {
  margin: 10%;
  background-color: #fff4e0f0;
  color: #000000;
  border: 1px solid #303030;
  border-radius: 15px;
  padding: 2em 3em 1em 3em;
  text-align: center;
  box-shadow: 0.1em 0.3em 0.4em #00000040;
}
.dialog button {
  margin: 0em 0.5em;
}
.dialog h1 {
  font-size: 1.3em;
  padding: 0em;
  margin: 0em;
}
.dialog em {
  color: #000000;
}


/* Special content */
.noWrap {
  white-space: nowrap;
}
.hidden {
  display: none;
}
.indented {
  margin-left: 2em;
}
.footnote {
  font-style: oblique;
  font-size: 0.8em;
}
.credit {
  font-size: 0.8em;
  font-style: oblique;
  font-weight: bold;
}
.credit::before {
  content: '\025b7';
  margin-right: 0.6em;
  font-style: normal;
}
.keepTogether :first-child {
  margin-bottom: 0px;
}
.keepTogether :last-child {
  margin-top: 0px;
}
.keepTogether * {
  margin-top: 0px;
  margin-bottom: 0px;
}
em {
  font-style: oblique;
  color: #ffffff;
  background-color: var(--headerColor);
  border-radius: 0.3em;
  padding: 0em 0.2em;
}
.smaller {
  font-size: 0.8em;
}
.check {
  color: #008020;
  font-weight: bold;
}


/* Patreon */
.patreonIcon {
  position: fixed;
  right: 0px;
  top: 0px;
  font-size: 0.7em;
  text-align: center;
  background-color: #ffffffb0;
  border: 1px solid #00000050;
  border-radius: 15px;
  margin: 1.4em;
  padding: 0.5em;
}
.patreonIcon .firstLetter {
  font-size: 1em;
  font-weight: bold;
  color: #fc674d;
}
.patreonIcon a {
  border-width: 0px;
}
.patreonIcon a,
.patreonIcon a:link,
.patreonIcon a:visited {
  color: #000000;
}
.patreonIcon a:hover,
.patreonIcon a:active {
  color: #a0a0a0;
}
.patreonIcon a:hover .firstLetter,
.patreonIcon a:active .firstLetter {
  color: #fc9e8d;
}
